* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

a:visited {
  color: black;
}

body {
  background: linear-gradient(324deg, #b8b5f8 0%, white 50%, #3dddfd 100%);
}

.container {
  margin: auto;
  width: 1200px;
  padding: 100px 0;
  height: 100vh;
}

.lang-select {
  margin: auto;
  text-align: center;
  width: 300px;
  padding-bottom: 30px;
}

.lang-select p {
  text-transform: uppercase;
  padding: 10px;
}

.lang-select ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lang-select ul li {
  list-style: none;
  padding: 10px;
  background-color: #00ffc8;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.lang-select ul .active {
  border: 2px solid #009978;
  background-color: #00d8a9;
  -webkit-box-shadow: 2px 2px 5px #009978;
          box-shadow: 2px 2px 5px #009978;
  color: #692177;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu ul li {
  list-style: none;
}

.main-menu ul li :hover {
  -webkit-box-shadow: 2px 2px 5px #009978;
          box-shadow: 2px 2px 5px #009978;
  width: 800px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #692177;
}

.main-menu ul li a {
  display: inline-block;
  background-color: #00ffc8;
  margin-top: 15px;
  border-radius: 7px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 10px;
  width: 600px;
  text-decoration: none;
  text-align: center;
}

.add-word .add_word {
  width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.add-word .add_word label {
  text-align: center;
}

.add-word .add_word input {
  width: inherit;
  height: 35px;
  border-radius: 17px;
  text-align: center;
}

.add-word .translations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.add-word .translations .trans {
  -webkit-box-shadow: 0px 0px 10px #009978;
          box-shadow: 0px 0px 10px #009978;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-word .translations .trans textarea {
  width: 250px;
  height: 150px;
  text-align: justify;
  line-height: 130%;
  border-radius: 5px;
}

.add-word .translations #id1,
.add-word .translations #id2 {
  display: none;
}

.add-word .translations #id0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-word input {
  display: block;
  margin: auto;
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
}

.add-word input[type=submit] {
  background-color: #00ffc8;
}

.controls {
  width: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controls #result,
.controls #add,
.controls #edit {
  background-color: #00ffc8;
  border-radius: 5px;
  width: 175px;
  height: 40px;
  border: none;
}

.status {
  text-align: center;
}

textarea {
  padding: 5px;
}

textarea :target {
  color: black;
}

.translations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.translations .trans {
  -webkit-box-shadow: 0px 0px 10px #009978;
          box-shadow: 0px 0px 10px #009978;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.translations .trans textarea {
  width: 250px;
  height: 150px;
  text-align: justify;
  line-height: 130%;
  border-radius: 5px;
}

.translations #id0,
.translations #id1,
.translations #id2 {
  display: none;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.answer #correct,
.answer #wrong {
  height: 50px;
  width: 200px;
  background-color: #00ffc8;
  border-radius: 5px;
}

.finish {
  text-align: center;
  margin-top: 75px;
}

.finish #finish {
  height: 50px;
  width: 300px;
  background-color: #00ffc8;
  border-radius: 15px;
}
/*# sourceMappingURL=main.css.map */