* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    color: black;
}


.container {
    margin: auto;
    width: 1200px;
    padding: 100px 0;
    background-color: bisque;

    .lang-select {
        margin: auto;
        text-align: center;
        width: 300px;

        p {
            text-transform: uppercase;
            padding: 10px;
        }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                list-style: none;
                padding: 10px;
                background-color: #eec450;
                margin: 5px;
                border-radius: 15px;
                cursor: pointer;
            }

            .active {
                border: 2px solid #be1c1c;
                background-color: #cea945;
            }
        }
    }

    .main-menu {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;

                :hover {
                    outline: 3px solid red;
                    width: 800px;
                    transition: 0.2s;
                }

                a {
                    display: inline-block;
                    background-color: aqua;
                    margin-top: 15px;
                    border-radius: 7px;
                    padding: 10px;
                    border-radius: 7px;
                    margin-top: 10px;
                    width: 600px;
                    text-decoration: none;
                    text-align: center;

                    :visited {
                        color: inherit;
                    }

                }

            }
        }


    }

    form {
        .add_word {
            width: 500px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            label {
                text-align: center;
            }

            input {
                width: inherit;
                height: 35px;
            }
        }

        .translations {
            display: flex;
            justify-content: space-around;
            margin: 15px 0;

            .trans {
                border: 2px solid red;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;

                textarea {
                    width: 250px;
                    height: 150px;
                    text-align: justify;
                    line-height: 130%;
                }

            }

            #two,
            #three {
                display: none;
            }

        }

        input {
            display: block;
            margin: auto;
            width: 150px;
            height: 50px;
            margin-bottom: 50px;
        }
    }

    .controls {
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        #result,
        #add,
        #edit {
            width: 175px;
            height: 40px;
        }
    }
}