{% extends 'base.html'%}

{% block title %}
<title>Add word</title>
{% endblock %}

{% block main %}
{% include "back.html" %}
<div class="add-word">
    <div class="add_word">
        <input type="hidden" id="id" value="">
        <label for="word">{{session['active_languages']['primary_language']}}</label>
        <input id="word" type="text" name="add_word" autocomplete="off" list="autocompleteOff"
            onkeypress="return noenter()" />
    </div>
    <div id="translations">
    </div>
    <button id="submit">Submit</button>
</div>
<div class="controls">
    <button id="add">Add translation</button>
</div>
<br>
{% for word in unverified %}
<span onclick="tip(this.innerHTML)">{{word}}</span>
{%endfor%}
<meta name="words" data-words='{{words}}'>
<meta name="parts" data-parts="{{parts}}">
{% endblock%}

{% block script%}
<script src="{{url_for('static', filename='add_word.js')}}"></script>
{% endblock %}