{% extends 'base.html'%}

{% block title %}
<title>Add word</title>
{% endblock %}

{% block main %}
<div class="container">
    <form class="add-word" action="{{ request.path }}" method="post">
        <div class="add_word">
            <label for="word">{{lang}} word</label>
            <input id="word" type="text" name="add_word" autocomplete="off" list="autocompleteOff" />
        </div>
        <div class="translations">
            {%for i in range(3)%}
            <div class="trans" id="id{{i}}">
                <label for="part-{{i}}">part</label>
                <select name="part-{{i}}" id="part-{{i}}">
                    <option value="noun">noun</option>
                    <option value="verb">verb</option>
                    <option value="adjective">adjective</option>
                    <option value="adverb">adverb</option>
                    <option value="misc">misc</option>
                </select>
                <label for="translation-{{i}}">translation</label>
                <textarea name="translation-{{i}}" placeholder="translation-{{i}}"></textarea>
            </div>
            {%endfor%}
        </div>
        <input type="submit" value="Submit" />
    </form>
    <div class="controls">
        <button id="result">Check</button>
        <button id="add">Add translation</button>
        <button id="edit">Edit word</button>
    </div>
</div>
{% endblock%}

{% block script%}
<script>
    let list_data = {{ words | safe }}
    console.log(list_data)
    var input = document.getElementById('word');
    document.getElementById("result").addEventListener("click", check);
    function check() {
        if (list_data.indexOf(input.value) !== -1) {
            alert("Value exists!")
        } else {
            alert("Value does not exists!")
        }
    }
</script>
<script src="{{url_for('static', filename='add_word.js')}}"></script>
{% endblock %}