<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css' />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="{{ request.path }}" method = "post"> 
            <label for = "word">Name</label><br>
            <input type = "text" name = "word"/><br>
            <label for = "part">Part</label><br>
            <select name="part" id="part">
                <option value="noun">noun</option>
                <option value="pronoun">pronoun</option>
                <option value="verb">verb</option>
                <option value="ajective">ajective</option>
                <option value="adverb">adverb</option>
                <option value="preposition">preposition</option>
                <option value="conjunction">conjunction</option>
                <option value="interjection">interjection</option>
            </select><br>
            <label for = "translation">addr</label><br>
            <textarea name = "translation" placeholder = "translation"></textarea><br>
            <input type = "submit" value = "Submit"/>
        </form>
    </div>
</body>
</html>