<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="{{ request.path }}" method="post">
            <label for="word">Name</label><br>
            <input id="word" type="text" name="word" autocomplete="off" list="autocompleteOff" />
            <input id="id" type="text" name="id" autocomplete="off" list="autocompleteOff" />
            <div class="translations">
                <div class="trans" id="one">
                    <label for="part-0">part</label>
                    <select name="part-0" id="part-0">
                        <option value="noun">noun</option>
                        <option value="verb">verb</option>
                        <option value="adjective">ajective</option>
                        <option value="adverb">adverb</option>
                        <option value="misc">misc</option>
                    </select>
                    <label for="translation-0">translation</label>
                    <textarea id="translation-0" name="translation-0" placeholder="translation-0"></textarea>
                    <input id="id-0" type="text" name="id-0" autocomplete="off" list="autocompleteOff" />
                    <input id="answer-0" type="text" name="answer-0" autocomplete="off" list="autocompleteOff" />
                </div>
                <div class="trans" id="two">
                    <label for="part-1">part</label>
                    <select name="part-1" id="part-1">
                        <option value="noun">noun</option>
                        <option value="verb">verb</option>
                        <option value="adjective">ajective</option>
                        <option value="adverb">adverb</option>
                        <option value="misc">phrase</option>
                    </select>
                    <label for="translation-1">translation</label>
                    <textarea id="translation-1" name="translation-1" placeholder="translation-1"></textarea>
                    <input id="id-1" type="text" name="id-1" autocomplete="off" list="autocompleteOff" />
                    <input id="answer-1" type="text" name="answer-1" autocomplete="off" list="autocompleteOff" />
                </div>
                <div class="trans" id="three">
                    <label for="part-2">part</label>
                    <select name="part-2" id="part-2">
                        <option value="noun">noun</option>
                        <option value="verb">verb</option>
                        <option value="adjective">ajective</option>
                        <option value="adverb">adverb</option>
                        <option value="misc">phrase</option>
                    </select>
                    <label for="translation-2">translation</label>
                    <textarea id="translation-2" name="translation-2" placeholder="translation-2"></textarea>
                    <input id="id-2" type="text" name="id-2" autocomplete="off" list="autocompleteOff" />
                    <input id="answer-2" type="text" name="answer-2" autocomplete="off" list="autocompleteOff" />
                </div>
            </div>
            <input type="submit" value="Submit" />
        </form>
        check:<button style="height: 50px; width:150px;" id="result"></button>
        {% for word in unverified.keys()%}
        <p onclick="tip(this.innerHTML)">{{word}}</p>
        {%endfor%}
    </div>
    <script>
        let all_words = {{ words | safe }}

        var input = document.getElementById('word');
        document.getElementById("result").addEventListener("click", check);
        function check() {
            let parts = Object.keys(all_words[input.value])
            if (all_words[input.value] !== -1) {
                for (i in parts) {
                    document.getElementById('part-' + i).value = parts[i]
                    console.log(all_words[input.value][parts[i]][3].join('\r\n'))
                    document.getElementById("translation-" + i).innerHTML = all_words[input.value][parts[i]][3].join('\r\n')
                    document.getElementById("id-" + i).value = all_words[input.value][parts[i]][1]
                    document.getElementById("answer-" + i).value = all_words[input.value][parts[i]][2]
                }
            } else {
                alert("Value does not exists!")
            }
        }
        function tip(word) {
            console.log(word)
            document.getElementById("word").value = word
            check()
        }
    </script>
</body>

</html>