{% extends 'base.html' %}

{% block title %}
<title>Edit</title>
{% endblock %}

{% block main %}
<div class="container">
    {% include "back.html" %}
    <form action="{{ request.path }}" method="post">
        <div class="add_word">
            <label for="word">{{lang}} word</label>
            <input id="word" type="text" name="word" autocomplete="off" list="autocompleteOff" />
        </div>
        <div class="translations">
            {% for i in range(3) %}
            <div class="trans" id="id{{i}}">
                <label for="part-{{i}}">part</label>
                <select name="part-{{i}}" id="part-{{i}}">
                    <option value="noun">noun</option>
                    <option value="verb">verb</option>
                    <option value="adjective">adjective</option>
                    <option value="adverb">adverb</option>
                    <option value="misc">misc</option>
                </select>
                <label for="translation-{{i}}">translation</label>
                <textarea id="translation-{{i}}" name="translation-{{i}}" placeholder="translation-{{i}}"></textarea>
                <input id="id-{{i}}" type="text" name="id-{{i}}" autocomplete="off" list="autocompleteOff" />
                <input id="answer-{{i}}" type="text" name="answer-{{i}}" autocomplete="off" list="autocompleteOff" />
            </div>
            {% endfor %}
        </div>
        <div class="check">
            <button id="check" type="button">check</button>
            <button id="add" type="button">add</button>
        </div>
        <div class="edit">
            <input type="submit" value="Edit" id="edit" />
        </div>
    </form>
    {% for word in unverified.keys()%}
    <span onclick="tip(this.innerHTML)">{{word}}</span>
    {%endfor%}
</div>
{% endblock %}

{% block script %}
<script>
    let all_words = {{ words | safe }}
</script>
<script src="{{url_for('static', filename='edit.js')}}"></script>
{% endblock %}