<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css' />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="{{ request.path }}" method="post">
            <label for="word">Name</label><br>
            <input id="word" type="text" name="word" autocomplete="off" list="autocompleteOff" /><br>
            <label for="part">Part</label><br>
            <select name="part" id="part">
                <option value="noun">noun</option>
                <option value="pronoun">pronoun</option>
                <option value="verb">verb</option>
                <option value="ajective">ajective</option>
                <option value="adverb">adverb</option>
                <option value="preposition">preposition</option>
                <option value="conjunction">conjunction</option>
                <option value="interjection">interjection</option>
                <option value="phrase">phrase</option>
            </select><br>
            <label for="translation">addr</label><br>
            <textarea id="2" name="translation" placeholder="translation"></textarea><br>
            <input type="submit" value="Submit" />
        </form>
        check:<button style="height: 50px; width:150px;" id="result"></button>
    </div>
    <script>
        let list_data = {{ words | safe }}
        console.log(list_data)
        var input = document.getElementById('word');
        document.getElementById("result").addEventListener("click", check);
        function check() {

            if (list_data[input.value] !== -1) {
                document.getElementById("2").innerHTML = list_data[input.value].join('\r\n')
            } else {
                alert("Value does not exists!")
            }
        }

    </script>
</body>

</html>