{% extends 'base.html' %}

{% block title %}
<title>Lexis trainer</title>
{% endblock %}

{% block main %}
<div class="language-menu">
    <p>select language</p>
    <ul id="primary-language">
        {% for language in session['all_languages'] %}
        <li id='primary-{{language}}' onclick="set_primary_language(event)">{{language}}</li>
        {% endfor %}
    </ul>
    <ul id="secondary-language">
        {% for language in session['all_languages'] %}
        <li id='secondary-{{language}}' class="inactive" onclick="set_secondary_language(event)">{{language}}</li>
        {% endfor %}
    </ul>
</div>
<div class="main-menu">
    <ul>
        <li><a href="{{url_for('add_word')}}">Add / Edit</a></li>
        <li><a href="{{url_for('statistics')}}">Statistics</a></li>
        <li><a href="{{url_for('learn')}}">Study</a></li>
        <li><a href="{{url_for('review')}}">Review</a></li>
    </ul>
</div>
<meta name="active_languages" data-active_languages="{{active_languages}}">
{%endblock%}


{%block script%}
<script src="{{url_for('static', filename='index.js')}}"></script>
{%endblock%}