{% extends 'base.html' %}

{% block title %}
<title>Lexis trainer</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="lang-select">
        <p>select language</p>
        <ul>
            <li id='eng'>English</li>
            <li id='rus'>Russian</li>
        </ul>
    </div>
    <div class="main-menu">
        <ul>
            <li><a href="/addword">Add / Edit</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/study">Study</a></li>
            <li><a href="/review">Review</a></li>
        </ul>
    </div>
</div>
{%endblock%}

{%block script%}
<script>
    let language = {{ lang| safe}}
</script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{%endblock%}