<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Document</title>

</head>

<body>
    <div class="container">
        <div class="lang-select">
            <p>select language</p>
            <ul>
                <li id='eng'>English</li>
                <li id='rus' class="active">Russian</li>
            </ul>
        </div>
        <div class="main-menu">
            <ul>
                <li id="add"><a href="/addword">Add</a></li>
                <li id="view"><a href="/statistics">Statistics</a></li>
                <li><a href="/learn">Study</a></li>
                <li><a href="/edit">Edit</a></li>
            </ul>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='index.js')}}"></script>

</html>