<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
           <tr>
              <th id="1">russian_word</th>
              <th id="2">part</th>
              <th id="3">correct_count</th>
           </tr>
        </thead>
        <tbody>
              <tr>
                 <td></td>
                 <td></td>
              </tr>
        </tbody>
     </table>
     <button id="4" style="height: 30px; width: 200px;">correct</button><br>
     <button id="5" style="height: 30px; width: 200px; margin-top: 40px ;">wrong</button><br>

     <button id="6" style="height: 30px; width: 200px; margin-top: 140px ;">finish</button>
     <script type="text/javascript">
      let list_data = {{ words | tojson }}
      console.log(list_data)
      let word_number = 1;
      let max_words = Object.keys(list_data).length
      document.getElementById("1").innerHTML = list_data[word_number][0]
      document.getElementById("2").innerHTML = list_data[word_number][1]
      document.getElementById("3").innerHTML = list_data[word_number][2]
      document.getElementById("4").addEventListener("click", addvalue);
      document.getElementById("5").addEventListener("click", minusvalue);
      document.getElementById("6").addEventListener("click", finish);

      function finish(){
         $(document).ready(function () {
    var data = {
         data: JSON.stringify(list_data)
   }
      $.ajax({
        url:"/finish",
        type: 'POST',
        data: data,
        success: function (msg) {
            alert(msg.name)
        }
    })
  });
      }

      function next_word(){
         if (max_words>word_number){
            word_number +=1
            document.getElementById("1").innerHTML = list_data[word_number][0]
            document.getElementById("2").innerHTML = list_data[word_number][1]
            document.getElementById("3").innerHTML = list_data[word_number][2]
         }
      }
      function minusvalue(){
         if (word_number==max_words){
         }
         else{if (parseInt(document.getElementById("3").innerHTML) > 0){
            document.getElementById("3").innerHTML = parseInt(document.getElementById("3").innerHTML) - 10
         }
         next_word()}
         
      }
      function addvalue(){
         if (word_number==max_words){
         }
         else{document.getElementById("3").innerHTML = parseInt(document.getElementById("3").innerHTML) + 10
         next_word()}
         

      }
   </script>
</body>
</html>