<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="{{url_for('static', filename='main.js')}}"></script>
   <title>Document</title>
</head>

<body>
   <div class="container">
      <p id="current"></p>
      <p id="all">id</p>
      <p id="1">Russian_word</p><br>
      <div class="answer">
         <textarea name="" id="2" cols="50" rows="15">Answers</textarea>
      </div>

      <table>
         <thead>
            <tr>
               <th id="1">russian_word</th>
               <th id="2">part</th>
               <th id="3">correct_count</th>
               <th id="4">russian_id</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td></td>
               <td></td>
            </tr>
         </tbody>
      </table>
      <button id="5" style="height: 30px; width: 200px;">correct</button><br>
      <button id="6" style="height: 30px; width: 200px; margin-top: 40px ;">wrong</button><br>
      <button id="7" style="height: 30px; width: 200px; margin-top: 140px ;">finish</button>
   </div>
   <script type="text/javascript">
      let list_data = {{ words | safe }}
      let word_number = 1;
      let max_words = Object.keys(list_data).length
      let keys = Object.keys(list_data)
      let random = Math.floor(Math.random() * keys.length)
      let ru_word = keys[random]
      keys.splice(random, 1)
      document.getElementById("all").innerHTML = max_words
      document.getElementById("current").innerHTML = word_number
      document.getElementById("1").innerHTML = ru_word
      document.getElementById("2").innerHTML = ''
      // document.getElementById("3").innerHTML = list_data[word_number][2]
      // document.getElementById("4").innerHTML = list_data[word_number][3]
      document.getElementById("5").addEventListener("click", addvalue);
      document.getElementById("6").addEventListener("click", minusvalue);
      document.getElementById("7").addEventListener("click", finish);
      document.getElementById("2").addEventListener("click", show);

      function show() {
         document.getElementById("2").innerHTML = list_data[ru_word][1].join('\r\n')
      }

      function finish() {
         $(document).ready(function () {
            var data = {
               data: JSON.stringify(list_data)
            }
            $.ajax({
               url: "/finish",
               type: 'POST',
               data: data,
               success: function (msg) {
                  alert(msg.name)
               }
            })
         });
      }

      function next_word() {
         if (max_words > word_number) {
            word_number += 1
            random = Math.floor(Math.random() * keys.length)
            ru_word = keys[random]
            keys.splice(random, 1)
            document.getElementById("current").innerHTML = word_number
            document.getElementById("1").innerHTML = ru_word
            document.getElementById("2").innerHTML = ''
            // document.getElementById("3").innerHTML = list_data[word_number][2]
            // document.getElementById("4").innerHTML = list_data[word_number][3]
         }

      }
      function minusvalue() {
         if (list_data[ru_word][0] > 0) {
            list_data[ru_word][0] -= 10
         }
         if (word_number == max_words) {
            document.getElementById("2").innerHTML = 'Finished'
         }
         else {
            next_word()
         }
      }

      function addvalue() {
         list_data[ru_word][0] += 10
         if (word_number == max_words) {
            document.getElementById("2").innerHTML = 'Finished'
         }
         else { next_word() }


      }
   </script>
</body>

</html>