<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
           <tr>
              <th id="1">russian_word</th>
              <th id="2">correct_count</th>
           </tr>
        </thead>
        <tbody>
              <tr>
                 <td></td>
                 <td></td>
              </tr>
        </tbody>
     </table>
     <button id="3"></button>
     <script type="text/javascript">
      let list_data = {{ words | tojson }}
      console.log(list_data)
      const list = document.getElementById("1");
      document.getElementById("2").innerHTML = list_data[1][1]
      list.innerHTML = list_data[1][0]
      document.getElementById("3").addEventListener("click", addvalue);
      function addvalue(){
         document.getElementById("2").innerHTML = '20'
      }
   </script>
</body>
</html>