<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Document</title>
</head>

<body>
    <div class="container">
        {% include "back.html" %}
        <p>all_words: {{all_words[0]}}</p>
        <p>Learned: {{all_words[1]}}</p>
        {%for item in all_words[2]%}
        <p>{{item[0]}}: {{item[1]}}</p>
        {%endfor%}
        <p>To learn: {{all_words[3]}}</p>
    </div>
</body>

</html>