{% extends 'base.html' %}

{% block title %}
<title>Study</title>
{% endblock %}

{% block main %}
<div class="add-word">
   {% include "back.html" %}
   <div class="status">
      <p>Progress</p>
      <p><span id="current"></span> out of <span id="all"></span></p><br>
      <p id="word"></p><br>
   </div>
   <div id="translations">
   </div>
   <div class="answer">
      <button id="correct">correct</button>
      <button id="wrong">wrong</button>
   </div>
   <div class="finish">
      <button id="finish">finish</button>
   </div>
</div>
<meta name="words" data-words='{{words}}'>
<meta name="parts" data-parts="{{parts}}">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='study.js')}}"></script>
{% endblock %}